@mixin meter_sh{
    width: 6.34rem;
    height: 1.54rem;
    border-radius: .1rem;
    display: flex;
    display: -webkit-flex;
    position: relative;
    overflow: hidden;
}
@mixin no_wrap{
    width: 5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin meter_con{
    width: 2.1rem;
    height: .8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-1.05rem,-.4rem);
    -webkit-transform: translate(-1.05rem,-.4rem);
    color: #888888;
    font-size: .5rem;
    font-weight: bold;
    line-height: .8rem;
}
@mixin meter_rig{
    position: absolute;
    width: .12rem;
    height: .56rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius:.02rem 
}
#detail{
    .detail_tab{
        height: 1rem;
        text-align: center;
        line-height: 1rem;
        font-size: .34rem;
        font-weight: bold;
        background:#f9f9f9;
        position: relative;
        margin-bottom: .3rem;
        span{
            margin-left: .3rem;
            display: block;
            background: url(../../static/images/back.png) no-repeat center;
            background-size: .35rem .46rem;
            height: 1rem;
            width: .35rem;
            position: absolute;
        }
    }
    .detail_content{
        background: #fff;
        padding: .13rem .56rem .56rem .48rem;
        position: relative;
        .detail_title{
            line-height: .62rem;
            color: #333333;
        }
        .red{
            width: 100%;
            height: 1.54rem;
            position: relative;
            .dianlian_left{
                @include meter_sh;
                border: solid .02rem #f15467;
               
                .dianlian_content{
                    @include meter_con;
                }
                .dianlian_l{
                    height: 100%;
                    background: #f15467;
                }
            }
            .dianlian_right{
                @include meter_rig;
                background: #f15467;
                
            }
        }
        .orange{
            width: 100%;
            height: 1.54rem;
            position: relative;
            .dianlian_left{
                @include meter_sh;
                border: solid .02rem #f6bb45;
                
                .dianlian_content{
                    @include meter_con;
                }
                .dianlian_l{
                    height: 100%;
                    background: #f6bb45;
                }
            }
            .dianlian_right{
                @include meter_rig;
                background: #f6bb45;
                
            }
        }
        .green{
            width: 100%;
            height: 1.54rem;
            position: relative;
            .dianlian_left{
                @include meter_sh;
                border: solid .02rem #8cc14f;
                
                .dianlian_content{
                    @include meter_con;
                }
                .dianlian_l{
                    height: 100%;
                    background: #8cc14f;
                }
            }
            .dianlian_right{
                @include meter_rig;
                background: #8cc14f;
                
            }
        }
        .detail_biaohao{
            font-size: .3rem;
            font-weight: bold;
            color: #444;
            line-height: .8rem;
            @include no_wrap;
        }
        .detail_address{
            background: url(../../static/images/location_03.png) no-repeat .08rem center ;
            padding-left: .52rem;
            height: .42rem;
            line-height: .42rem;
            background-size: .2rem .26rem;
            color: #979797;
            @include no_wrap;
        }
        .detail_location{
            background: url(../../static/images/location_06.png) no-repeat .08rem center;
            padding-left: .52rem;
            height: .42rem;
            line-height: .42rem;
            background-size: .25rem .25rem;
            color: #979797;
            @include no_wrap;
        }
    }
    .detail_operate{
        padding: .46rem .5rem;
        ul{
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            -webkit-justify-content:space-between;
            li{
                width: 1.7rem;
                height: 1.16rem;
                border: solid .01rem #d4dbe1;
                border-radius: .1rem;
                color: #4c7bfd;
                text-align: center;
                div{
                    height: .76rem;
                }
            }
            li.Active{
                border: 0;
                background: #4c7bfd;
                color: #fff;
            }
            .meterSet{
                div{
                    background: url(../../static/images/meter_set_02.png) no-repeat center;
                    background-size: .39rem .43rem;
                }
            }
            .meterTrend{
                div{
                    background: url(../../static/images/ele_trend_02.png) no-repeat center;
                    background-size: .45rem .43rem;
                }
            }
            .orderRecord{
                div{
                    background: url(../../static/images/order_record_02.png) no-repeat center;
                    background-size: .44rem .43rem;
                }
            }
            .meterSet.Active{
                div{
                    background: url(../../static/images/meter_set_01.png) no-repeat center;
                    background-size: .39rem .43rem;
                }
            }
            .meterTrend.Active{
                div{
                    background: url(../../static/images/ele_trend_01.png) no-repeat center;
                    background-size: .45rem .43rem;
                }
            }
            .orderRecord.Active{
                div{
                    background: url(../../static/images/order_record_01.png) no-repeat center;
                    background-size: .44rem .43rem;
                }
            }
            
        }
    }
    .buy_btn{
        position: absolute;
        bottom: .92rem;
        margin-top:5.2rem;
        padding: 0 .4rem;
        width: 100%;
        .buy_ammeter{
            background: #f15467;
            color: #fff;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height:1.12rem; 
            border: 0;
            width: 100%;
            font-size: .34rem;
            border-radius: .16rem;
            outline: none;
        }
    }

}